.login {
    max-width: 500px;
    min-width: 350px;
    margin: 50px auto 10px;
}

.login .login-form {
    background-color: rgba(222, 222, 222, 0.3);
    border-radius: 2px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.5);
    padding: 20px 30px;
}

.login .login-form .input-group {
    margin-top: 10px;
}

.login .login-form .input-group-addon {
    background: #fff;
    border-right: none;
}

.login .login-form input[type="text"],
.login .login-form input[type="email"],
.login .login-form input[type="password"] {
    border-left: none;
}

.login .login-form input[type="text"]:focus,
.login .login-form input[type="email"]:focus,
.login .login-form input[type="password"]:focus {
    border-left: 3px solid #e74c3c;
    transition: 0.4s ease;
}

.login .login-form input[type="submit"]#login {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    height: 40px;
}

.login .login-form .login-bar {
    margin-top: 40px;
    text-align: center;
}

.login .login-form .login-bar label {
    font-weight: normal;
}

.login .register {
    margin-top: 38px;
    padding: 10px;
}

.text-login {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}

.btn-fceduca {
    background-color: #eb7b27;
    border-color: #d37a38;
    color: #fff;
}

.btn-fceduca:hover {
    background-color: #d37a38;
    color: #fff;
}

.form-check {
    margin-top: 20px;
    padding-left: 20px;
    display: inline-flex;
}

.form-radio {
    margin-bottom: 10px;
    padding-left: 20px;
}

.form-check-input {
    margin-top: 2px !important;
}

.form-check-label {
    margin-left: 10px;
    font-size: 12px;
}

hr {
    border-top-color: #bebebe;
}

.custom-select {
    width: 100%;
    padding: 5px;
}

.input-group-text {
    margin-top: 50px;
    font-size: 20px;
}

.texto {
    text-align: center;
    margin-top: 50px;
}

.pergunta {
    margin-top: 50px;
    margin-bottom: 20px;
}

.login .login-form input[type="submit"]#next {
    margin: 0 auto;
    height: 40px;
}

.circle {
    background-color: #eb7b27;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.circle-center {
    display: flex;
    text-align: center;
    justify-content: center;
}

.circle-number {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    padding: 8px;
    display: block;
}

.texto-resultado {
    margin: 40px;
    font-size: 16px;
    text-align: center;
}